<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.madgroup.appcompany">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CompanyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".RestaurantRatingActivity" />
        <activity
            android:name=".ChooseRiderActivity"
            android:parentActivityName=".ReservationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madgroup.appcompany.ReservationActivity" />
        </activity>
        <activity
            android:name=".DetailedReservation"
            android:parentActivityName=".ReservationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madgroup.appcompany.ReservationActivity" />
        </activity>
        <activity
            android:name=".DailyOfferActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ReservationActivity" />
        <activity android:name=".AnalyticsActivity" />
        <activity
            android:name=".EditOpeningHoursActivity"
            android:label="Opening hours"
            android:parentActivityName=".ProfileActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madgroup.appcompany.ProfileActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>